<h2>Exchange Rate Info</h2>

<div id="converterDiv">

    <h3>Exchange Rate Converter</h3>

    From Valuta <input type="text" name="textFrom" value="" ng-model="input"
                       value="100"
                       ng-change="calculate()"/>  

    <select ng-model="valutaListFrom" 
            ng-options="valuta as valuta.label for valuta in valutaCodes"
            ng-change="calculate()">
        <option value="">Select Currency</option>
    </select>




    To Valuta <label>{{result}}</label>
    <select ng-model="valutaListTo" 
            ng-options="valuta as valuta.label for valuta in valutaCodes"
            ng-change="calculate()">
        <option value="">Select Currency</option>
    </select>

</div>




